#contact {
	padding: 20px 0 90px;
	background: url(/pb_static/assets/imgs/texture.png);

	form {
		padding: 20px 11px 0;

		.form-item {
			padding: 9px;
		}
		.form-item input, textarea {
			color: $white;
			background: #2d2c2b;
			font-size: 18px;
			font-family: 'OpenSans Regular';
			padding: 20px 30px;
			border: 0px;
			outline: none;
			width: 100%;
		}

		textarea {
			resize: none;
			margin: 0px 0 0;
			height: 247px;
		}

		.submit {
			border: 0px;
			background: $green;
			color: $white;
			font-size: 18px;
			font-family: 'OpenSans Regular';
			width: 130px;
			text-align: center;
			text-transform: uppercase;
			height: 47px;
			margin: 0 9px;
		}
	}
	.contact-extra-cont {
		padding: 20px 20px 0 0;

		@include breakpoint($tablet) {
			padding: 40px 10px 0;
		}
	}
	.contact-extra {
		margin-top: 9px;
		border: 1px solid #313131;
		padding: 44px 64px;
		width: 100%;

		@include breakpoint(max-width 1200px) {
			padding: 24px 34px;
		}
		@include breakpoint($mobile) {
			padding: 20px 20px;
		}

		.contact-extra-item {
			width: 100%;
			float: left;
			margin: 20px 0;

			.icon-cont {
				height: 60px;
				float: left;

				.icon {
					float: left;
					margin-right: 20px;
				}
			}
			.contact-extra-item--content {
				float: left;
				color: $white;
				font-size: 22px;
				font-family: 'OpenSans SemiBold';
				margin: 0;
				height: 60px;

				@include breakpoint(max-width 1200px) {
					font-size: 20px;
				}
				@include breakpoint(max-width 840px) {
					font-size: 18px;
				}
				@include breakpoint($mobile) {
					font-size: 13px;
				}

				a {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
}