.footer {
	width: 100%;
	float: left;
	background: $dark-grey;
	color: $grey;
	font-size: 15px;
	font-family: 'OpenSans Light';
	padding: 0 20px;
	height: 126px;

	@include breakpoint($mobile) {
		height: auto;
	}

	.copyright {
		height: 126px;
		float: left;
		text-align: left;
	}
	.madeby {
		border-left: 1px solid #373737;
		width: 100%;
		max-width: 135px;
		height: 126px;
		float: right;
		text-align: right;
	}
}