.hero-cont {
	width: 100%;
	float: left;
	
	.table {
		h1 {
			font-size: 50px;
			color: $white;
			font-family: 'OpenSans Bold';
		}
		.icons-scroll_down {
			position: absolute;
			bottom: 80px;
			display: table;
			left: 50%;
			margin-left: -25px;
		}
	}
}