#press {
	.press-item {
		padding: 180px 20px;
		float: left;
		width: 100%;

		background: url(/pb_static/assets/imgs/press_01.png);
		background-size: cover;

		@include breakpoint($desktop) {
			padding: 180px 20px;
		}
		@include breakpoint($tablet) {
			padding: 100px 20px;
		}
	}
	.press-content {
		color: $white;
		font-family: 'OpenSans Regular';
		font-size: 60px;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 70px;
		position: relative;

		@include breakpoint($desktop) {
			font-size: 50px;
			line-height: 60px;
		}
		@include breakpoint($tablet) {
			font-size: 32px;
			line-height: 42px;
		}
		@include breakpoint($mobile) {
			font-size: 26px;
			line-height: 36px;
		}

		span {
			font-family: 'OpenSans Light';
			font-size: 60px;

			@include breakpoint($desktop) {
				font-size: 50px;
			}
			@include breakpoint($tablet) {
				font-size: 40px;
			}
			@include breakpoint($mobile) {
				font-size: 32px;
			}
		}

		.icons-press_btn {
			position: absolute;
			top: 50%;
			margin-top: -60px;
			right: 0;

			.icon {
				opacity: 0;
				@include transition(all 0.7s ease-in-out);
			}

			&:hover {
				.icon {
					opacity: 1;
				}
			}

			@include breakpoint($tablet) {
				position: relative;
				margin: 50px auto 0px;
				top: 0;
			}
		}
	}
}