.values-cont {
	float: left;
	width: 100%;

	@include breakpoint($tablet) {
		padding: 20px 0px 60px;
	}

	.row {
		max-width: 1450px;
	}

	.item {
		padding: 80px 30px;

		@include breakpoint($tablet) {
			padding: 0px 30px;
		}
	}
}